body    {background: black;}

.container {position:relative;}

.bunnyrabbit {position:absolute;
                margin:15% 38%;
                width:400px;
                animation: updown 4s ease infinite;}
            
            @keyframes updown {0% {transform:translateY(-5%);}
                                50% {transform:translateY(5%);}
                                100% {transform:translateY(-5%);}}

        .rabbit  {fill:#fff;
                    stroke:#85cee0;
                    stroke-linecap:round;
                    stroke-miterlimit:10;
                    stroke-width:3px;}

        .eye    {fill:#9f86db;} 

.void   {position:relative;}

.starl1, .starl2, .starl3, .starr1, .starr2 {position:absolute;
                                                z-index:2;
                                                width:70px;}

    .inner, .star123 {fill:#fff;}
            
            .star123 {stroke:#85cee0;
                        stroke-linecap:round;
                        stroke-miterlimit:10;
                        stroke-width:3px;}
    
    .starl1 {margin-top:35%;
                margin-left:5%;
                transform: rotate(0deg);
                animation-name:spin-me;
                animation-duration:4s;
                animation-fill-mode:forwards;
                animation-iteration-count:infinite;
                animation-timing-function:linear;}

    .starl2 {margin-top:75%;
                margin-left:20%;
                transform: rotate(0deg);
                animation-name:spin-me;
                animation-duration:4s;
                animation-fill-mode:forwards;
                animation-iteration-count:infinite;
                animation-timing-function:linear;}

    .starl3 {margin-top:65%;
                margin-left:35%;  
                transform: rotate(0deg);
                animation-name:spin-me;
                animation-duration:4s;
                animation-fill-mode:forwards;
                animation-iteration-count:infinite;
                animation-timing-function:linear;}

    .starr1 {margin-top:3%;
                margin-left:55%;
                transform:rotate(0deg);
                animation-name:spin-me;
                animation-duration:4s;
                animation-fill-mode:forwards;
                animation-iteration-count:infinite;
                animation-timing-function:linear;}

    .starr2 {margin-top:40%;
                margin-left:80%;  
                transform:rotate(0deg);
                animation-name:spin-me;
                animation-duration:4s;
                animation-fill-mode:forwards;
                animation-iteration-count:infinite;
                animation-timing-function:linear;}
    
                @keyframes spin-me {0% {transform:rotate(0deg)}
                                        100% {transform:rotate(359deg);}}

.planeta    {position:absolute;
                z-index:2;
                margin-top:10%;
                margin-left:10%;
                width:250px;
                transform:rotate(0deg);
                animation-name:tilt;
                animation-duration:4s;
                animation-fill-mode:forwards;
                animation-iteration-count:infinite;
                animation-timing-function:linear;}
                        
                @keyframes tilt {0% {transform:rotate(0deg)};
                                    100% {transform:rotate(45deg);}}

            .planet1 {fill:#9f86db;}
    
            .planet1, .ring {stroke:#dbdd85;
                                stroke-miterlimit:10;
                                stroke-width:3px;}
                
            .ring {fill:none;
                    stroke-linecap:round;}

.planetb    {position:absolute;
                z-index:2;
                margin-top:70%;
                margin-left:60%;
                width:400px;
                transform:rotate(0deg);
                animation-name:orbit;
                animation-duration:8s;
                animation-fill-mode:forwards;
                animation-iteration-count:infinite;
                animation-timing-function:linear;}
                        
                @keyframes orbit {0% {transform:rotate (0deg)};
                                    100% {transform:rotate (359deg);}}
    
            .moon {fill:#fff;}

            .moon, .planet2 {stroke:#9f86db;
                                stroke-miterlimit:10;
                                stroke-width:3px;}
                                    
            .planet2 {fill:#86db8c;}

.starabc    {position:relative;
                z-index:1;}

    .stara, .starb, .starc {position:absolute;
                            max-width:100%;
                            height:auto;
                            object-fit:contain;}

    .stara {animation-name:blinker;
            animation-duration:0.6s;
            animation-iteration-count:infinite;
            animation-timing-function:linear;}

            @keyframes blinker {50% {opacity:0;}}

                .blink-one {animation: blinker-one 1s linear infinite;}
                    
                    @keyframes blinker-one {0% {opacity:0;}}

                .blink-two {animation: blinker-two 1.4s linear infinite;}
                    
                    @keyframes blinker-two {100% {opacity:0;}}

    .starb {animation-name:blinker;
            animation-duration:0.6s;
            animation-iteration-count:infinite;
            animation-timing-function:linear;
            animation-delay:0.2s;}
            
                @keyframes blinker {50% {opacity:0;}}
            
                    .blink-one {animation: blinker-one 1s linear infinite;}
                                
                        @keyframes blinker-one {0% {opacity:0;}}
            
                    .blink-two {animation: blinker-two 1.4s linear infinite;}
                                
                        @keyframes blinker-two {100% {opacity:0;}}

    .starc {animation-name:blinker;
            animation-duration:0.6s;
            animation-iteration-count:infinite;
            animation-timing-function:linear;
            animation-delay:0.4s;}
                            
                @keyframes blinker {50% {opacity:0;}}
                            
                    .blink-one {animation: blinker-one 1s linear infinite;}
                                                
                        @keyframes blinker-one {0% {opacity:0;}}
                            
                    .blink-two {animation: blinker-two 1.4s linear infinite;}
                                                
                            @keyframes blinker-two {100% {opacity:0;}}
